html {
  padding: 0 80px;
}

body {
  background-color: #051122;
}

* {
  font-family: "Libre Franklin", sans-serif;
  font-size: 14pt;
  background-color: #051122;
  color: #f0f8ff;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.redes__instagram {
  background-color: #405DE6;
}

.redes__youtube {
  background-color: #ff0000;
}

.size-uno {
  font-size: 50px;
}

.size-dos {
  font-size: 20px;
}

/* HEADER */
header {
  display: flex;
  grid-area: header;
  justify-content: space-between;
  align-items: center;
}

header img {
  width: 150px;
  height: auto;
  border-radius: 50%;
  padding: 10px;
}

nav a {
  text-decoration: none;
}

nav a:hover {
  color: whitesmoke;
  font-weight: bold;
}

ul {
  list-style: none;
}

li {
  color: white;
}

/* MAIN */
h1, h2, h3, h4, h5, h6 {
  font-size: 50px;
  text-align: center;
}

.peliculashorizontal {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
}

.container-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  max-width: 50%;
  box-sizing: border-box;
  padding: 10px;
  margin: 10px;
}

.card .btn-primary:hover {
  background-color: black;
  border-color: white;
}

.sobreeldirector {
  width: 100%;
  height: auto;
  display: block;
  overflow: hidden;
  padding: 10px;
  background-position: center;
  height: auto;
  background-size: cover;
  font-size: 50px;
  text-align: center;
}

.cinemadridpresenta {
  width: 100%;
  height: auto;
  display: block;
  overflow: hidden;
  padding: 10px;
  background-position: center;
  height: auto;
  background-size: cover;
  font-size: 50px;
  text-align: center;
}

.ubicacion {
  justify-content: space-around;
  max-width: 100%;
  flex-wrap: wrap;
  display: flex;
  padding: 10px;
}

.main {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

/* PROMOCIONES */
.promociones {
  width: 25%;
  height: auto;
  display: block;
}

/* PROXIMAMENTE */
.directores {
  width: 100%;
  height: auto;
  display: block;
}

/* FOOTER */
footer {
  grid-area: footer;
  background: rgb(2, 0, 36);
  background: radial-gradient(circle, rgb(2, 0, 36) 0%, rgb(0, 0, 0) 78%, rgb(5, 17, 34) 100%);
}

footer img {
  width: 150px;
  height: auto;
  border-radius: 50%;
}

.footer {
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 10px;
}

.footer-content {
  gap: 10px;
  display: flex;
  padding: 10px;
}

.footer-content a {
  text-decoration: none;
  color: lightblue;
}

iframe {
  width: 600px;
  height: 400px;
}

/* MEDIA QUERIES - Desktop a mobile max-width */
@media (max-width: 1020px) {
  body {
    background-color: rgb(42, 139, 172);
  }
}
@media (max-width: 768px) {
  body {
    background-color: rgb(45, 45, 146);
  }
  html {
    padding: 0px;
  }
  header {
    flex-direction: column;
  }
  iframe {
    width: 400px;
    height: 300px;
  }
}
@media (max-width: 480px) {
  body {
    background-color: rgb(47, 66, 155);
  }
  iframe {
    width: 90%;
    height: auto;
  }
  .container-card {
    flex-direction: column;
  }
  .card {
    max-width: 100%;
  }
  footer {
    flex-direction: column;
  }
}

/*# sourceMappingURL=main.css.map */
