/* HEADER */
header {
    display: flex;
    grid-area: header;
    justify-content: space-between;
    align-items: center;
}

header img {
    width: 150px;
    height: auto;
    border-radius: 50%;
    padding: 10px;
}

nav a{
    text-decoration: none;
}

nav a:hover{
    color: whitesmoke;
    font-weight: bold;
}


ul {
    list-style: none;
}

li {
    color: white;
}
