/* MAIN */

h1, h2, h3, h4, h5, h6 {
    font-size: map-get($fontsize-mood, uno); 
    text-align: center; 
  }

.peliculashorizontal {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center; 
    justify-content: center;
    font-size: map-get($fontsize-mood, uno);
  }

.container-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    max-width: 50%;
    box-sizing: border-box;
    padding: 10px;
    margin: 10px;
}

.card .btn-primary:hover {
    background-color: black; 
    border-color: white; 
}

.sobreeldirector {
    @include sobre-cinema;
    font-size: map-get($fontsize-mood, uno);
    text-align: center; 
  }

.cinemadridpresenta {
    @include sobre-cinema;
    font-size: map-get($fontsize-mood, uno);
    text-align: center;
  }

.ubicacion {
    justify-content: space-around;
    max-width: 100%;
    flex-wrap: wrap;
    @include flex-padding;
}

.main{
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}